*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body{
  padding: 0;
  margin: 0;
}
.skeleton{
  background-image: url("./images/prueba.png");
  background-repeat: no-repeat;
  height: 710px;
  margin: auto;
  width: 342px;
  position: relative;
}
.brazo svg {
    width: 1212px;
    position: absolute;
    left: -168px;
    top: 47px;
}
.cabeza{
  background-image: url(./images/cabeza-03.png);
  height: 670px;
  width: 370px;
  margin: auto;
}
.cabeza svg path{
  opacity: 0;
}
.cabeza svg path:hover{
  opacity: 0.4;
}
